@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 0 15;
    width: 1200px;
    margin: 0 auto;
}
.footer {
    height: 689px;
    background: rgb(33, 9, 51);
    position: relative;
    bottom: 182px;
    display: flex;
    gap: 11px;
  }
  .iimg {
    padding-top: 242px;
    padding-left: 180px;
  }
  .df {
    display: flex;
    gap: 32px;
    padding-left: 180px;
    padding-top: 42px;
  }
  .gh {
    display: flex;
    gap: 2px;
    padding-left: 206px;
    padding-top: 43px;
  }
  
  .ssd {
    color: rgb(133, 120, 133);
    font-size: 14px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    font-family: Open Sans;
  }
  .word {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;
    padding-bottom: 20px;
    font-family: Open Sans;
  
  }
  .texts {
    color: rgb(133, 120, 133);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 128.6%;
    padding-top: 20px;
  }
  .boxb{
    padding-top: 250px;
  }
  .boxes{
    display: flex;
    gap: 190px;
  
  }
  