* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.begzad{
    display: flex;
    gap: 262px;
}
.left{
    
}
.img1{
    position: relative;
    top: 56px;
}
.img2{
    position: relative;
    bottom: 100px;
}