* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.begzad{
    display: flex;
    gap: 262px;
}
.img1{
    position: relative;
    top: 56px;
}
.img2{
    position: relative;
    bottom: 46px;
    right: 80px;
}
.img3{
    position: relative;
    right: 180px;
}
.img4{
    position: relative;
    right: 560px;
    top: 100px;
}
.img5{
    position: relative;
    right: 645px;
    top: 91px;
}