* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

v.custom-shape {
    width: 200px;
    height: 250px;
    border-radius: 70% 40% 50% 70% / 60% 70% 40% 50%;
    overflow: hidden;
  }
  
  .custom-shape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  