* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* maftuna */
.p-text {
    color: rgb(226, 52, 52);
    font-family: Proxima Nova;
    font-size: 12.78px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;

}
.h1-txt {
    font-family: Proxima Nova;
    font-size: 36.53px;
    font-weight: 800;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;
    color: rgb(133, 120, 133);
    width: 192px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.p-textt {
    width: 255px;
    /* height: 56px; */
    color: rgb(133, 120, 133);
    font-family: Proxima Nova;
    font-size: 14.61px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 14.61px;
    line-height: 129%;
    letter-spacing: 4%;
}
.button {
    color: rgb(92, 14, 98);
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background-color: transparent;
    border: none;
    margin-top: 16px;
}
.images {

    width: 707.488159179685px;
    height: 351.77667236328125px;
}
.countt {
    display: flex;
    gap: 155px;
}
.text{
    padding-top: 40px;
    margin-left: 200px; 
}


@media screen and (max-width:400px) {
    .container{
        overflow: hidden;
    }
.countt{
  flex-direction: column-reverse;
  gap: 0px;

}
.text{
    margin: 0px 31px 60px 27px;
}

.h1-txt{
    width: 320px;
}
.p-textt{
    width: 290px;
}
}

/* maftuna */
