@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.begzad {
    display: flex;
    gap: 262px;
}
.left {
  width: 517.39px;
  height: 374.17px;
  padding-top: 300px;
  
}
.img1 {
  position: relative;
}
.img2 {
  position: relative;
  bottom: 90px;
  right: 70px;
}
.img3 {
  position: relative;
  bottom: 320px;
  left: 250px;
}
.img4 {
  position: relative;
  bottom: 230px;
  right: 155px;
}
.img5 {
  position: relative;
  bottom: 440px;
  left: 250px;
}
.right {
  padding-left: 900px;
  padding-bottom: 400px;
}
.mobile {
  color: rgb(226, 52, 52);
  font-size: 12.78px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
}
.lego {
  color: rgb(92, 94, 110);
  font-size: 36.53px;
  font-weight: 800;
  line-height: 128.6%;
  letter-spacing: 4%;
  text-align: left;
}
.span {
  color: rgb(92, 14, 98);
  font-size: 36.53px;
  font-weight: 800;
  line-height: 128.6%;
  letter-spacing: 4%;
  text-align: left;
}
.it {
  color: rgb(133, 120, 133);
  font-family: Proxima Nova;
  font-size: 14.61px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
  text-align: left;
  padding-top: 10px;
}
.tec{
    display: flex;
    gap: 13px;
}
.robo{
    color: rgb(92, 14, 98);
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 16px;
}
.r-img{
    padding-top:18px;
}
@media screen and (max-width: 400px) {
    .container{
      width: 400px;
          overflow: hidden;
    }
    .begzat{
    }

    .left{
      padding: 0;
    }
    .right{
      padding: 0;
    }
    .mobile{
   padding-left: 35px;
   
    }
    .lego{
      font-size: 24px;
      padding-left: 35px;
    }
    .span{
      font-size: 24px;
    }
    .brbrr{
      display: none;
    }
    .it{
      padding-left: 35px;
      font-size: 14.61px;
    }
    .robo{
      padding-left: 35px;
    }
    .r-img{
      display: none;
    }
}
.section-ggg {
  background-image: url("../images/section-bcakkgroundd.svg");
  width: 1200px;
  height: 996px;
  padding-right: 65px;
  overflow: hidden;
  padding-left: 131px;
}
.p-txt-femboybehruz {
  font-family: Open sans;
  font-size: 35px;
  font-weight: 800;
  padding-top: 541px;
  color: white;
  line-height: 128.6%;
  letter-spacing: 10%;
}
.aaaa {
  text-decoration: none;
}
.section-txt-p-txt {
  padding-top: 39px;
  color: rgb(255, 255, 255);
  font-family: Open sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
}
.lysiy-mujik {
  border-radius: 65px;
  border: 3px solid white;
  margin-left: 121px;
}
.p-txt-txxt {
  color: rgb(255, 255, 255);
  font-family: Open sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 128.6%;
  padding-top: 37px;
  text-align: center;
  letter-spacing: 4%;
}
.section-gg {
  display: flex;
}
.p-ttxt {
  color: rgb(255, 188, 81);
  font-family: open sans;
  font-size: 21.12px;
  padding-top: 11px;
  font-weight: 900;
  line-height: 128.6%;
  letter-spacing: 7.5%;
  text-align: center;
  text-transform: uppercase;
}
.p-tttt {
  color: rgb(255, 188, 81);
  font-family: open sans;
  padding-top: 4px;
  font-size: 14.08px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
  text-align: center;
}
.kakayatobaba {
  border-radius: 65px;
  border: 3px solid white;
  margin-left: 201px;
  margin-top: 77px;
}
.section-axuell {
  display: flex;
  gap: 84px;
}
.section-txt-gg {
  margin-top: 258px;
}
.section-txt-gg-two {
  margin-top: 185px;
}
.boroda-eblan {
  border-radius: 65px;
  border: 3px solid white;
  display: inline;
  position: relative;
  z-index: 2;
}
.staaruxa {
  margin-top: 149px;
  margin-left: -16px;
  position: relative;
  z-index: 2;
  border-radius: 65px;
  border: 3px solid white;
  display: inline;
}
.shluyxa-xz {
  margin-top: 145px;
  border-radius: 65px;
  border: 3px solid white;
  margin-left: 83px;
}
.choto-gg {
  position: relative;
  right: 50px;
  width: 88px;
  height: 61px;
  bottom: 1130px;
}
.choto-gg-dva {
  position: relative;
  bottom: 980px;
  right: 300px;
}
.choto-gg-try {
  position: relative;
  bottom: 980px;
  width: 200px;
  height: 904px;
  left: 550px;
}
.nuxta {
  display: none;
}
@media screen and (max-width: 400px) {
  .shluyxa-xz {
    display: none;
  }
  .choto-gg-try {
    display: none;
  }
  .choto-gg-dva {
    display: none;
  }
  .p-txt-txxt {
    padding-top: 37px;
    padding-left: 45px;
    font-size: 14px;
  }
  .lysiy-mujik {
    margin-top: 20px;
    width: 126px;
    height: 126px;
    margin-left: 105px;
  }
  .p-ttxt {
    padding-top: 34px;
    padding-left: 50px;
  }
  .brbrbr {
    display: none;
  }
  .section-ggg {
  padding: 0 15;
  width: 1200px;
  margin: 0 auto;
}
.footer {
  height: 689px;
  background: rgb(33, 9, 51);
  position: relative;
  bottom: 120px;
  display: flex;
  gap: 100px;
}
.iimg {
  padding-top: 242px;
  padding-left: 150px;
}
.df {
  display: flex;
  gap: 32px;
  padding-left: 150px;
  padding-top: 42px;
}
.gh {
  display: flex;
  gap: 2px;
  padding-left: 160px;
  padding-top: 43px;
}

.ssd {
  color: rgb(133, 120, 133);
  font-size: 14px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
  font-family: Open Sans;
}
.word {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 128.6%;
  letter-spacing: 4%;
  text-align: left;
  padding-bottom: 20px;
  font-family: Open Sans;
}
.texts {
  color: rgb(133, 120, 133);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 128.6%;
  padding-top: 20px;
}
.boxb {
  padding-top: 250px;
}
.boxes {
  display: flex;
  gap: 150px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 400px;
    overflow: hidden;
    height: 1150px;
padding: 0;
  }
  .iimg {
    padding: 0px;
    margin-top: 73px;
  }
  .ssd {
    display: flex;
    position: absolute;
    padding: 0;
    justify-content: start;
    padding-left: -290px;
    font-size: 10.46px;
    top: 96%;
  }
  .df {
   display: flex;
   position: absolute;
    padding: 0px;
    margin: 20px;
    top: 91%;
  }
  .gh {
    padding: 0;
    margin: 20px;
  }
  .boxes {
    display: block;
    gap: 10px;
  }
  .boxb {
    padding: 0;
  }
  .footer {
    display: block;
    height: auto;
    padding: 50px 100px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 150px;
  }
  .word {
    top: 15px;
    text-align: center;
  }
  .texts{
    margin-top: 15px;
  }
}
    width: 1200px;
    margin: 0 auto;
}

/* maftuna */
.p-text {
    color: rgb(226, 52, 52);
    font-family: Proxima Nova;
    font-size: 12.78px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;

}
.h1-txt {
    font-family: Proxima Nova;
    font-size: 36.53px;
    font-weight: 800;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;
    color: rgb(133, 120, 133);
    width: 192px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.p-textt {
    width: 255px;
    /* height: 56px; */
    color: rgb(133, 120, 133);
    font-family: Proxima Nova;
    font-size: 14.61px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 14.61px;
    line-height: 129%;
    letter-spacing: 4%;
}
.button {
.easy {
    margin-left: 175px;
    margin-top: 260px;
    width: 280px;
    height: 164px;
    border-radius: 4px;
    box-shadow: 7px 10px 50px 0px rgb(232, 226, 240);
    background: rgb(255, 255, 255);
}

.sdf {
    padding-top: 29px;
    padding-left: 48px;
}

.fgh-txt {
    padding-top: 3px;
    padding-left: 48px;
    color: rgb(92, 94, 110);
    font-family: Proxima Nova;
    font-size: 22px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
}

.fgh-txttwo {
    padding-top: 8px;
    padding-left: 48px;
    color: rgb(117, 111, 111);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 128.6%;
    letter-spacing: 7.5%;
}

.easd {
    margin-top: 200px;
    margin-left: 45px;
    width: 280px;
    height: 164px;
    border-radius: 4px;
    box-shadow: 7px 10px 50px 0px rgb(232, 226, 240);
    background: rgb(255, 255, 255);
}

.sdd {
    padding-top: 29px;
    padding-left: 48px;
}

.fgd-txt {
    padding-top: 3px;
    padding-left: 48px;
    color: rgb(92, 94, 110);
    font-family: Proxima Nova;
    font-size: 22px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
}

.fgd-txttwo {
    padding-top: 8px;
    padding-left: 48px;
    color: rgb(117, 111, 111);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 128.6%;
    letter-spacing: 7.5%;
}

.eass {
    margin-top: 36px;
    margin-left: 175px;
    width: 280px;
    height: 164px;
    border-radius: 4px;
    box-shadow: 7px 10px 50px 0px rgb(232, 226, 240);
    background: rgb(255, 255, 255);
}

.easr {
    margin-left: 45px;
    margin-top: 36px;
    width: 280px;
    height: 164px;
    border-radius: 4px;
    box-shadow: 7px 10px 50px 0px rgb(232, 226, 240);
    background: rgb(255, 255, 255);
}

.disple {
    display: flex;
}

.disp {
    display: flex;
}

.qwer-txt {
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 800;
    line-height: 128.6%;
    letter-spacing: 4%;
    color: rgb(133, 120, 133);
}

.qwer-two {
    padding-top: 4px;
    color: rgb(133, 120, 133);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 700;
    line-height: 128.6%;
    letter-spacing: 4%;
}

.learn {
    padding-top: 16px;
    color: rgb(92, 14, 98);
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background-color: transparent;
    border: none;
    margin-top: 16px;
}
.images {

    width: 707.488159179685px;
    height: 351.77667236328125px;
}
.countt {
    display: flex;
    gap: 155px;
}
.text{
    padding-top: 40px;
    margin-left: 200px; 
}


@media screen and (max-width:400px) {
    .container{
        overflow: hidden;
    }
.countt{
  flex-direction: column-reverse;
  gap: 0px;

}
.text{
    margin: 0px 31px 60px 27px;
}

.h1-txt{
    width: 320px;
}
.p-textt{
    width: 290px;
}


/* maftuna */


.bnm {
    margin-top: 18px;
    margin-left: 13px;
}

.vqw {
    display: flex;
}

.hjk {
    display: flex;
}

.asadd {
    margin-top: 121px;
    margin-left: 129px;
}

a {
    text-decoration: none;
}

.qwer-text-div {
    width: 330px;
}

@media screen and (max-width: 400px) {
   .container{
    overflow: hidden;
   }
   
    .disple {
        display: none;
    }

    .disp {
        display: none;
    }
.qwer-text-div{
    width: 100%;
}
    .qwertxt {
        font-size: 24px;
        display: flex;
    }
    .qwer-two{
   font-size: 16px;
    }

    .bnm{
        display: none;
    }
}
.section-ggg{
    background-image: url("../images/section-bcakkgroundd.svg");
    width: 400px;
    padding-left: 30px;
    padding-right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: auto;
  }
  .container {
    overflow: hidden;
    width: 400px;
  }
  .p-tttt {
    padding-top: 4px;
    padding-left: 50px;
  }
  .choto-gg {
    display: none;
  }
  .boroda-eblan {
    display: none;
  }
  .staaruxa {
    display: none;
  }
  .kakayatobaba {
    display: none;
  }
  .section-txt-p-txt {
    display: none;
  }
  .p-txt-femboybehruz {
    text-align: center;
  }
  .nuxta {
    display: block;
    margin-left: 140px;
    margin-top: 42px;
  }
  .section-gg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-txt-gg {
    margin: 0;
    margin-top: 50px;
  }
  .p-txt-femboybehruz {
    padding: 0;
    font-size: 24px;
    padding-right: 30px;
    margin-top: 400px;
  }
}
.p-ttxt{
    color: rgb(255, 188, 81);
font-family: open sans;
font-size: 21.12px;
padding-top: 11px;
font-weight: 900;
line-height: 128.6%;
letter-spacing: 7.5%;
text-align: center;
text-transform: uppercase;
}
.p-tttt{
    color: rgb(255, 188, 81);
font-family: open sans;
padding-top: 4px;
font-size: 14.08px;
font-weight: 700;
line-height: 128.6%;
letter-spacing: 4%;
text-align: center;
}
.kakayatobaba{
    border-radius: 65px;
border: 3px solid white;
    margin-left: 201px;
    margin-top: 77px;
}
.section-axuell{
    display: flex;
    gap: 84px;
}
.section-txt-gg{
    margin-top: 258px;
}
.section-txt-gg-two{
    margin-top: 185px;
}
.boroda-eblan{
    border-radius: 65px;
    border: 3px solid white;
    display: inline;
    position: relative;
    z-index: 2;
}
.staaruxa{
    margin-top: 149px;
    margin-left: -16px;
    position: relative;
    z-index: 2;
    border-radius: 65px;
    border: 3px solid white;
    display: inline;
}
.shluyxa-xz{
    margin-top: 145px;
    border-radius: 65px;
    border: 3px solid white;
    margin-left: 83px;
}
.choto-gg{
    position: relative;
   right: 50px;
   width: 88px;
height: 61px;
    bottom: 1130px;
}
.choto-gg-dva{
    position: relative;
    bottom: 980px;
    right: 300px;
}
.choto-gg-try{
    position: relative;
    bottom: 980px;
    width: 200px;
    height: 904px;
    left: 550px;
}
.nuxta{
display: none;
}
@media screen and (max-width:400px) {
    .shluyxa-xz{
        display: none;
    }
    .choto-gg-try{
        display: none;
    }
    .choto-gg-dva{
        display: none
    }
    .p-txt-txxt{
        padding-top: 37px;
        padding-left: 45px;
        font-size: 14px;
    }
    .lysiy-mujik{
        margin-top: 20px;
        width: 126px;
height: 126px;
margin-left: 105px;
    }
    .p-ttxt{
        padding-top: 34px;
        padding-left: 50px;
    }
    .brbrbr{
        display: none;
    }
    .section-ggg{
        background-image: url("../images/section-bcakkgroundd.svg");
        width: 400px;
        padding-left: 30px;
        padding-right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        margin: auto;
    }
    .container{
        overflow: hidden;
        width: 400px;
    }
    .p-tttt{
        padding-top: 4px;
        padding-left: 50px;
    }
    .choto-gg{
        display: none;
    }
    .boroda-eblan{
        display: none;
    }
    .staaruxa{
        display: none;
    }
    .kakayatobaba{
        display: none;
    }
    .section-txt-p-txt{
        display: none;
    }
    .p-txt-femboybehruz{
        text-align: center;

    }
    .nuxta{
        display: block;
        margin-left: 140px;
        margin-top: 42px;
    }
    .section-gg{
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }
    .section-txt-gg{
        margin: 0;
        margin-top: 50px;
    }
    .p-txt-femboybehruz{
        padding: 0;
        font-size: 24px;
        padding-right: 30px;
        margin-top: 400px;
    }
}
